猫について +α

動作環境
Win7 64bit + Chrome 44 (64bit)
Chrome のプロキシ設定［拡張機能 SwichtySharp］で自分のサーバー IP を localhost:8888 （航海日誌拡張版）に
航海日誌拡張版 1.9.4～1.9.5
航海日誌拡張版のプロキシ設定 localhost:8080 （MyFleetGirlsさんのツール）

イベント開始と同時に（夜あたりが）頻繁に猫り、502 Bad Gatewayや504 Gateway Timeoutが多発
502 Bad Gatewayは、同じサーバーの他の提督たちが2chスレで猫速報するタイミング前後で起きます
504 Gateway Timeoutはapi_start2やBattleMain.swfとかに起きています
504 Gateway Timeoutは現在、Chromeのプロキシ設定を切る（ツールなし）か、航海日誌拡張版のプロキシ設定を切る（航海日誌拡張版のみ）と起きなくなる様子
どちらかのプロキシサーバーが不調だったり、あるいは運営がプロキシサーバー接続になんらかの対策を施していた可能性

スケジュール的にイベントはキツいので、MyFleetGirlsさんのツールを再起動して試す余裕がありません
統計を取っていなくて、クロスチェック・ダブルチェックもしていません
ご参考になれば幸いです
MyFleetGirlsさんにもこのIssueのリンクを貼って報告したいと思います

-----

それとグループエディター、マウスカーソルがグループのフォルダにオーバーするとツールチップが出てますが、それが出してしまうとなぜかグループエディターが最前面に引き出されます（アクティブウィンドウまで持ってかれてませんが）
航海日誌拡張版のメインウィンドウは最前面に設定されていますので、それより前面になることはありませんが、他のツールウィンドウや、重なってる他のブラウザやアプリなどをも塞がるように前面に来るので、地味にうざいですね
あと階層化するつもりがないならフォルダ欄の左の余白は要りませんかも

Before | After
------------ | -------------
![2015-08-13 22-23-16 409](https://cloud.githubusercontent.com/assets/7158006/9252280/23a8bc3a-420a-11e5-8dd0-4627d8264386.png) | ![2015-08-13 22-23-50 853](https://cloud.githubusercontent.com/assets/7158006/9252281/23b04ea0-420a-11e5-8e65-64c59c3705cd.png)

- 運営がプロキシ接続に対して対策はほぼありえません。MyFleetGirls単体では多くの人が動かしているのと、必要があってプロキシ接続している人も多いからです
- 他ツールとの連携はMyFleetGirls的には動作保証はしてなくて、積極的に対応しようとしてないのが現状です。原因が分かって修正が容易そうなら直してる感じです

502 Bad Gatewayで猫になる不具合は1.9.7で修正しました。関連コミット: fcf1f9c140dbc2d6c2f5f32deace7260ab47db5a
他の不具合はもう少しお待ちください。

502エラーに対してリクエストリトライによる猫回避が運営の言う通常でない挙動に当たるかどうか心配するところではありますが、対応お疲れ様です

それと MyFleetGirls (@ponkotuy) さんの補足（返事は消えていますが）にもありがとうございます
原因の究明を祈ります

502エラーは艦これのサーバではなくJettyのプロキシが返していました。イベント開始からサーバの設定が変わってkeep-aliveがオンになっているようなのですが、リクエスト送信時に接続がサーバ側から切断された場合、JettyのHTTPクライアントがリトライしないで502エラーを返すのが猫の原因でした。

この場合、プロキシの望ましい動作としては、リクエストの送信をリトライするか、クライアント（ブラウザ）に何も送信せずに接続を切ることです。ブラウザとの接続を切った場合、ブラウザがリトライします。リトライはHTTP1.1(RFC2616)の正常な動作です。

今回、JettyのプロキシがJavaサーブレットで実装されている関係で、直接ソケットを閉じることが難しかったので、リトライする動作にしました。

詳しい説明本当にありがとうございます

[RFC7230 Section 6.3.1](https://tools.ietf.org/html/rfc7230#section-6.3.1)では以下のようになっています。
(idempotentなリクエストメソッドはGET, HEAD, OPTIONS, TRACE, PUT, DELETEで、POSTは含まれていません。)
> A proxy MUST NOT automatically retry non-idempotent requests.

fcf1f9c を見た感じですが、まだソケットが生きている状態でリクエスト送信後、ステータス行を読む前にソケットが閉じられた場合などによくないことが起きる気がします。

改訂版が出ていたのですね。気づきませんでした。勉強不足ですみません。
確かにプロキシがリトライするのは良くないみたいですね。「クライアント側の接続を切る」が正解ということですかね。サーブレットでどう実装するかが問題ですが。

RFC7230でその直後にuser agentもnon-idempotentなリクエストを自動的にリトライしてはならないとあります。私が調査していたとき、ブラウザ側はリクエストをリトライして猫を出さずに処理を進めていました。メソッドはPOSTで、かつ二重に処理されるとマズそうなものもです。艦これのクライアントはURLLoader.load()を呼び出しているだけなので、ブラウザの実装かFlashの実装がリトライしているのだと思います。

> まだソケットが生きている状態でリクエスト送信後、ステータス行を読む前にソケットが閉じられた場合などによくないことが起きる気がします。

通常のブラウザのみを使用での轟沈バグがいくつか報告されていましたが、その原因はこれではないかと思っています。プロキシがリトライしなくてもブラウザ側がリトライするので（少なくとも艦これの通信ではこの挙動は確かめました）、結局同じことになるかと。根本的に問題を解決するには、サーバ側で処理をidempotentにするしかないと思います。

とは言ってもプロキシはリトライするなと書かれているので、直したほうが良さそうですね。Jettyのサーブレットで何も送信しないでソケットを閉じる方法が分かれば、そちらに切り替えます。

> プロキシがリトライしなくてもブラウザ側がリトライするので（少なくとも艦これの通信ではこの挙動は確かめました）、

こう調べがついているのですね。安心しました。

今のJettyだと Request.getBaseRequest(req).getAttribute("org.eclipse.jetty.server.HttpConnection"); あるいは HttpConnection.getCurrentConnection(); で得た HttpConnection に対して、getEndPoint().close(); で SocketChannel が close されそうですが、どうでしょう。(斜め読みなのでだめかもしれません)

グループエディタに関してはもう直っていると思います。 aa67b342385f4ebbd51452b897a30fc048663530

早速 v1.9.14 にアップデートしました。修正ありがとうございます。
長らくお疲れ様でした！